Arpeggio==2.0.0
attrs==22.2.0
binarytree==6.5.1
black==22.12.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
clockblocks==0.6.7
colorama==0.4.6
docopt==0.6.2
expenvelope==0.7.0
flake8==6.0.0
graphviz==0.20.1
idna==3.4
iniconfig==2.0.0
linkedlist==2.0.0
mccabe==0.7.0
MIDIUtil==1.2.1
mypy-extensions==0.4.3
node==1.2
odict==1.9.0
packaging==23.0
pathspec==0.10.3
pip==22.3.1
platformdirs==2.6.2
pluggy==1.0.0
plumber==1.7
pycodestyle==2.10.0
pyflakes==3.0.1
pymusicxml==0.5.5
pyparsing==3.0.9
pytest-watch==4.2.0
pytest==7.2.0
python-osc==1.8.0
requests==2.28.1
scamp==0.9.1.post5
setuptools-scm==7.1.0
tomli==2.0.1
typing-extensions==4.4.0
urllib3==1.26.13
watchdog==2.2.1
zope.component==5.1.0
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.event==4.6
zope.hookable==5.4
zope.interface==5.5.2
zope.lifecycleevent==4.4
zope.proxy==4.6.1
